# Ignore artifacts:
.husky/
build/
coverage/
dist/
docs/
node_modules/
reports/
temp/
.browserslistrc
.editorconfig
.eslintcache
LICENSE
.eslintignore
.gitignore
.prettierignore

# Ignore all HTML files:
*.html